# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: 64c4827264033903e653981856250c36b90905294fbe29ac9dadb59ec94f90c2f1ff44cf3db54cf23c10d0391fbc43d9b2c248555f5585bb7c52e70c9a9ff0d2

test:
  secret_key_base: ebf35f30e80a7f10af4fcaafe441442623098a4d21a67984f824f53e2d52e718afde7a69244b9b0b649a26943638c4fceca453c59924305dc6d983581258f9cc

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
